.idea/
/pics/
/banner/
/_old/pics/
/_old/banner/
README.md
LICENSE
test.php
/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/_resources/
/public/_resources/
/consentApp/node_modules/
/.graphql-generated/
/public/_graphql/
composer.lock
